body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: darkgrey;
    flex-direction: column;
    font-family: sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-none {
    display: none;
}

#file-input-container {
    display: flex;
    flex-direction: column;
}

#file-input-container > button {
    margin: 2px;
}

#level-next, #level-back {
    height: 256px;
    margin: 32px;
}

button:focus {
    outline: 0;
}

#sheet-canvas {
    margin-top: 32px;
}

#save {
    position: absolute;
    left: 10px;
    top: 10px;
}
